In [80]:
from dash import html, dcc, Dash
from jupyter_dash import JupyterDash
from dash.dependencies import Input, Output
from dash.exceptions import PreventUpdate
import pandas as pd
import seaborn as sns
import plotly.express as px

In [81]:
df = pd.read_csv("states_all.csv", usecols=["STATE", "YEAR", "TOTAL_EXPENDITURE"])
df.head()

        STATE  YEAR  TOTAL_EXPENDITURE
0     ALABAMA  1992          2653798.0
1      ALASKA  1992           972488.0
2     ARIZONA  1992          3401580.0
3    ARKANSAS  1992          1743022.0
4  CALIFORNIA  1992         27138832.0

In [82]:
#df["STATE"].unique()

#df=df.query("STATE =='ALASKA' & YEAR > 1992")

In [83]:
#px.line(df, x="YEAR", y="TOTAL_EXPENDITURE", title="Expenditure in Washington")

In [84]:
app = JupyterDash(__name__)

app.layout = html.Div([
    html.H3("Expenditure in Selected Satate"),
    dcc.Dropdown(id="dropdown", options=df["STATE"].unique()),
    dcc.Graph(id="visual")

])

c:\Users\adegb\miniconda3\envs\ML-WK\Lib\site-packages\dash\dash.py:634: UserWarning:

JupyterDash is deprecated, use Dash instead.
See https://dash.plotly.com/dash-in-jupyter for more details.

In [ ]:
@app.callback(Output("visual","figure"), Input("dropdown", "value"))
def expenditure_plot(STATE):
    figure = px.line(
        df.query(f"STATE =='{STATE}'"),
        x="YEAR",
        y="TOTAL_EXPENDITURE",
        title=f"Expenditure in {STATE}"
    )
    return figure

if __name__ == "__main__":
    #app.run(mode="inline")
    app.run(jupyter_mode="tab", debug=True, port=8765)

Dash app running on http://127.0.0.1:8763/